button {
	display:inline;
	font-family:Arial,sans-serif;
	font-size:20px;
	color:#D48C33;
	text-shadow: 0px 3px #111;
	height: 86.005576px;
	width:155.32457px;
	border:none;
	background:none;
	background: url(../index_files/button-1-inactive.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	outline:none;
}

button:hover {
	display:inline;
	cursor: pointer;
	outline:none;
}

button:active {
	display:inline;
	font-family:Arial,sans-serif;
	font-size:20px;
	color:#D48C33;
	text-shadow: 0px 3px #111;
	height: 82.005576px;
	width:155.32457px;
	border:none;
	background:none;
	background: url(../index_files/button-1-active.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    transform: translateY(4px);
    outline:none;
}
/*#D48C33;*/
button.pressed {
	display:inline;
	font-family:Arial,sans-serif;
	font-size:20px;
	color: #D48C36;;
	text-shadow: 0px 3px #111;
	height: 82.005576px;
	width:155.32457px;
	border:none;
	background:none;
	outline:none;
	background: url(../index_files/button-1-active.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    transform: translateY(4px);
}

li {
	display:inline-block;
	color:white;
	text-align: center;
	vertical-align: middle;
	font-family: Arial, sans-serif;
	font-size:24px;
	margin: 0px 10px;
}

/*#logo {
	margin-left:25%;
	margin-right:75%;
}*/

.neckline-style-div {
	display:inline-block;
	margin:25px auto;
	padding:0px;
	width:100%;
	height:1700px;
	min-height:200px;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	text-align: center;

}

.background {
	padding:0px;
	margin:0px;
	width:100%;
	height:1700px;
	max-height:1700px;
	min-height:200px;
	background: url(../index_files/copper-bg.jpg) repeat-y center top fixed;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	top:140px;
	z-index:1;
	position:fixed;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 0%;
  left: 25%;
  width: 40%;
  height: 30%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}

#menu {
	position: fixed;
	top:0;
	background-color:black;
    height: 140px;
    width: 100%;
    text-align: center;
}

#nav ul {
	display: inline-block;
    list-style-type: none;
}
